@rendermode InteractiveServer

<span class="time-display">@currentTime</span>

@code {
    @implements IDisposable

    private string currentTime { get; set; } = DateTime.Now.ToString("hh:mm:ss");
    
    private CancellationTokenSource _clockCts = new CancellationTokenSource();

    protected override Task OnInitializedAsync()
    {
        StartClockLoop();
        
        return Task.CompletedTask;
    }

    private async Task StartClockLoop()
    {
        var token = _clockCts.Token;

        while (!token.IsCancellationRequested)
        {
            try
            {
                await Task.Delay(1000, token);
            }
            catch (TaskCanceledException)
            {
                return;
            }

            currentTime = DateTime.Now.ToString("hh:mm:ss");
            await InvokeAsync(StateHasChanged);
        }
    }

    public void Dispose()
    {
        _clockCts.Cancel();
        _clockCts.Dispose();
    }
}